body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black
}

.header {
    background-color: #333;
    padding: 10px 0;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    color: #fff;
}

.hero-image img {
    max-width: 150%;
    border-radius: 10px;
    padding: 70px;
    margin-left: 30vh;
}

.features {
    text-align: center;
    margin: 40px 0;
}

.features h2 {
    font-size: 36px;
    margin: 0;
}

.features p {
    font-size: 18px;
    color: #555;
}

.features .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.features .button:hover {
    background-color: #c9302c;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    flex: 1;
    min-width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.service img {
    max-width: 100%;
    border-radius: 10px;
}

.service h3 {
    font-size: 24px;
    margin: 20px 0 10px;
}

.service p {
    font-size: 16px;
    color: #555;
}

.service a:link{
    text-decoration: none;
    color: black    ;
}

/* .service h1 a:link{
    text-decoration: none;
    color: black    ;
} */

.service .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.service .button:hover {
    background-color: #c9302c;
}


.testimonial {
    text-align: center;
    margin: 40px 0;
    font-size: 18px;
    color: #555;
}
