body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url('nature-background.jpg') no-repeat center center fixed; */
    background-color: #666;
    background-size: cover;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #27ae60;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1e8449;
}

.additional-options {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.additional-options a {
    color: #27ae60;
    text-decoration: none;
}

.additional-options a:hover {
    text-decoration: underline;
}
